 <!DOCTYPE html>
<html>
	<head>
		<title>RSD Dental Clinic</title>

		<link rel="stylesheet" type="text/css" href="Home_Patient_Style.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
		<link rel="stylesheet" href="\bootstrap-3.3.4-dist\css">
	</head>
	
	<body>
		<!--NavHeader-->
		<header>
			<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        					<span class="sr-only">Toggle navigation</span>
        					<span class="icon-bar"></span>
        					<span class="icon-bar"></span>
        					<span class="icon-bar"></span>
        				</button>
						<div class="nav navbar-left grid__item color-3">
							<a class="nav navbar-brand link link--nukun" href="#">R<span>S</span>D</a>
						</div>
        			</div>

					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav navbar-right">
							<li>
							<a href="#menu-toggle" id="menu-toggle">&#9776; Menu</a>
            			</li>
							<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Signed in as Patient <span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="#">Settings</a></li>
									<li role="separator" class="divider"></li>
									<li><a href="#">Sign Out</a></li>
								</ul>
							</li>
						</div>
					</ul>
				</div>
			</nav>
		</header>
		<!-- /NavHeader-->

		<!--Wrapper-->
		<div id="wrapper">
		<!--Sidebar-->
		<div id="sidebar-wrapper">
			<ul class="sidebar-nav">
				<li>
                    <a href="#">Profile</a>
                </li>
                <li>
                    <a href="#">Records</a>
                </li>
                <li>
                    <a href="#">Appointments</a>
                </li>
                <li>
                    <a href="#">Services</a>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">Contact Us</a>
                </li>
                <li class="padbot">
                	<input type="text" class="form-control-inline" placeholder="Search">
                </li>
			</ul>
		</div>
		<!-- /Sidebar-->

		<!--Pages-->
		<div id="page-content-wrapper">
		<!--Patient Nav-->
		<center>
        	<div class="btn-group pat_nav" role="group" aria-label="...">
        		<button type="button" class="btn btn-default"><a href="./profile.html"><b>Profile</b></a></button>
            	<button type="button" class="btn btn-default"><a href="./Pages/records.html">Records</a></button>
            	<button type="button" class="btn btn-default"><a href="./Pages/appointments.html">Appointments</a></button>
            	<button type="button" class="btn btn-default"><a href="./Pages/services.html">Services</a></button>
            </div>
        </center><br>
		<!-- /Patient Nav-->

		<!--Page Contents-->
		<div class="container-fluid main_contents">
			<div class="panel panel-default">
				<div class="panel-body">
					

					<div class="row">
						<div class="col-md-6">
							<h4>Patient Information</h4><hr>
							<table class="pat-info">
								<tr>
									<th>Name</th>
									<td>Juan Dela Cruz</td>
								</tr>
								<tr>
									<th>Address</th>
									<td>40 Spain St., Greenmeadows Village, Ortigas, Pasig City</td>
								</tr>
								<tr>
									<th>Birthdate</th>
									<td>Jan 1, 1900</td>
								</tr>
								<tr>
									<th>Age</th>
									<td>25</td>
								</tr>
								<tr>
									<th>Occupation</th>
									<td>System Analyst</td>
								</tr>
								<tr>
									<th>Status</th>
									<td>Single</td>
								</tr>
								<tr>
									<th>Contact No.</th>
									<td>09123456789</td>
								</tr>
								<tr>
									<th>Email Address</th>
									<td>juandelacruz@yahoo.com</td>
								</tr>
							</table>
							</div>
						</div>

						<div class="col-md-6">
							<h4>Records Summary</h4><hr>
							<div class="col-md-3">
								<ul class="info_label">
									<li><b>Total</b></li>
									<li><b>Most Recent</b></li>
									<li><b>First</b></li>
								</ul>
							</div>
						</div>
					</div>
					<br>
					<div class="row">
						<div class="col-md-6">
							<h4>Patient Information</h4><hr>
							<div class="col-md-3">
								<ul class="info_label">
									<li><b>Name</b></li>
									<li><b>Address</b></li>
									<li><b>Birthdate</b></li>
									<li><b>Age</b></li>
									<li><b>Occupation</b></li>
									<li><b>Status</b></li>
									<li><b>Contact No.</b></li>
									<li><b>Email Address</b></li>
								</ul>
							</div>
							<div class="col-md-3">
								<ul class="info_label">
									<li>Juan Dela Cruz</li>
									<li>40 Spain St., Greenmeadows Village, Ortigas, Pasig City</li>
									<li>Jan 1, 1900</li>
									<li>25</li>
									<li>System Analyst</li>
									<li>Single</li>
									<li>09123456789</li>
									<li>juandelacruz@yahoo.com</li>
								</ul>
							</div>
						</div>
						<div class="col-md-6">
							<h4>Records Summary</h4><hr>
							<div class="col-md-3">
								<ul class="info_label">
									<li><b>Total</b></li>
									<li><b>Most Recent</b></li>
									<li><b>First</b></li>
								</ul>
							</div>
						</div>
					</div>
				

				</div>
			</div>
		</div>
		<!-- /Page Contents-->
		</div>

		<footer>
		</footer>
		</div>
		<!-- /Wrapper-->

		<!-- jQuery -->
    	<script src="js/jquery.js"></script>

    	<!-- Bootstrap Core JavaScript -->
    	<script src="js/bootstrap.min.js"></script>

    	<!-- Menu Toggle Script -->
    	<script>
    		$("#menu-toggle").click(function(e) {
        	e.preventDefault();
        	$("#wrapper").toggleClass("toggled");
    		});
    	</script>
	</body>
</html>